<!--{block return}-->

	<style type="text/css">
		#e_btn_up6 { background: url('source/plugin/up6/image/flup27.png') no-repeat; !important;}
		.b2r #e_btn_up6 { background: url('source/plugin/up6/image/flup16.png') no-repeat; !important;}
	</style>
	<link type="text/css" rel="stylesheet" href="source/plugin/up6/js/style.css" />
	<script type="text/javascript" src="source/plugin/up6/js/tinybox.js"></script>
	<div id="up6_div" style="display:none;"><iframe id="ifrUploader" width="450" height="490" frameborder="0"></iframe></div>
<!--{/block}-->