<!--{block return}-->
<style type="text/css">
/*	#e_btn_up6 { background: url("{$_G['siteurl']}source/plugin/up6/image/flup27.png") no-repeat; !important;}
	.b2r #e_btn_up6 { background: url("{$_G['siteurl']}source/plugin/up6/image/flup16.png") no-repeat; !important;}*/
a.ftn_qqdl{
	color:#369 !important;
	text-decoration:none;
}
.ftn_qqdl {
	font-size:12px;
	padding:1px 0 3px 20px;
	margin:2px 0 0 4px;
	background:url("./source/plugin/up6/template/ftn.png") no-repeat 0 1px;
}
.up6_buttondiv {
	text-align:left;margin:5px 0 5px 22px;
}
</style>
<link type="text/css" rel="stylesheet" href="{$_G['siteurl']}source/plugin/up6/js/style.css" />
<script type="text/javascript" src="{$_G['siteurl']}source/plugin/up6/js/tinybox.js"></script>
<!--{/block}-->